Repository louisinger/ts-sdk-sse: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --fix, pnpm prettier --write

bump v0.0.14
  package.json
Due: pnpm prettier --write

chore: use mutinynet instance
  README.md
Due: pnpm prettier --write

chore: bump version
  package.json
Due: pnpm prettier --write

fix: pull wallet config from getInfo (#55)
  src/wallet/wallet.ts
  test/wallet.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: export networks (#56)
  src/index.ts
Due: pnpm eslint --fix, pnpm prettier --write

Add channel and vhtlc examples (#31)
  examples/spillman.js
  examples/vhtlc.js
  package.json
  tsconfig.json
Due: pnpm eslint --fix, pnpm prettier --write

chore: scoped pkg name
  README.md
  package.json
Due: pnpm prettier --write

0.0.16
  package.json
Due: pnpm prettier --write

chore: update repo uri and name
  README.md
  server.Dockerfile
Due: pnpm prettier --write

fix: dockerfile folder
  server.Dockerfile
Due: none

build: add ark client binary compilation to server Dockerfile
  server.Dockerfile
Due: none

chore: add .mintlify-last to gitignore
  .gitignore
Due: none

implement IWallet.exit (#57)
  README.md
  src/providers/ark.ts
  src/providers/onchain.ts
  src/tree/vtxoTree.ts
  src/wallet/index.ts
  src/wallet/serviceWorker/request.ts
  src/wallet/serviceWorker/response.ts
  src/wallet/serviceWorker/wallet.ts
  src/wallet/serviceWorker/worker.ts
  src/wallet/wallet.ts
  test/integration.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

Fix txLocktime of virtual transaction (#60)
  src/utils/psbt.ts
Due: pnpm eslint --fix, pnpm prettier --write

Allow custom service worker updates (#58)
  src/wallet/serviceWorker/wallet.ts
  src/wallet/serviceWorker/worker.ts
Due: pnpm eslint --fix, pnpm prettier --write

0.1.0
  package.json
Due: pnpm prettier --write

bump dependencies (#62)
  package.json
  pnpm-lock.yaml
  src/wallet/wallet.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: commit version bump
  scripts/release.sh
Due: none

0.1.1
  package.json
Due: pnpm prettier --write

Move `setupServiceWorker` outside of WalletServiceWorker class (#86)
  README.md
  src/index.ts
  src/wallet/serviceWorker/utils.ts
  src/wallet/serviceWorker/wallet.ts
Due: pnpm eslint --fix, pnpm prettier --write

catch and ignore HeadersTimeoutError and BodyTimeoutError (#104)
  src/providers/ark.ts
Due: pnpm eslint --fix, pnpm prettier --write

0.1.2
  package.json
Due: pnpm prettier --write

Fix service worker safari (#106)
  src/wallet/serviceWorker/utils.ts
Due: pnpm eslint --fix, pnpm prettier --write

0.1.3
  package.json
Due: pnpm prettier --write

chore: remove hardcoded dust amount check (#111)
  src/wallet/wallet.ts
  test/wallet.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

0.1.4
  package.json
Due: pnpm prettier --write

0.2.0
  package.json
Due: pnpm prettier --write

Update README.md
  README.md
Due: pnpm prettier --write

Fix ScriptNum minimal encoding & improve VHTLC tests (#123)
  src/script/tapscript.ts
  test/e2e/ark.test.ts
  test/e2e/indexer.test.ts
  test/e2e/utils.ts
  test/e2e/vhtlc.test.ts
  test/setup.js
  vitest.config.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix service worker example (#126)
  src/index.ts
  test/serviceWorker/serve.js
  test/serviceWorker/test.html
Due: pnpm eslint --fix, pnpm prettier --write

allow inputIndexes to be present but undefined (#125)
  src/wallet/serviceWorker/request.ts
Due: pnpm eslint --fix, pnpm prettier --write

ServiceWorkerWallet.sign: allow unknown PSBT fields (#127)
  src/wallet/serviceWorker/wallet.ts
  src/wallet/serviceWorker/worker.ts
Due: pnpm eslint --fix, pnpm prettier --write

test vhtlc addresses (#124)
  src/script/vhtlc.ts
  test/fixtures/vhtlc.json
  test/vhtlc.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

Reconnect stream if it's closed by others (#128)
  src/providers/ark.ts
Due: pnpm eslint --fix, pnpm prettier --write

0.2.1
  package.json
Due: pnpm prettier --write

support SSE streaming endpoints
  package.json
  pnpm-lock.yaml
  server.Dockerfile
  src/providers/ark.ts
  src/providers/indexer.ts
  src/providers/utils.ts
  test/e2e/ark.test.ts
Due: pnpm eslint --fix, pnpm prettier --write

dynamic eventsource import
  dist/cjs/providers/ark.js
  dist/cjs/providers/indexer.js
  dist/esm/providers/ark.js
  dist/esm/providers/indexer.js
  src/providers/ark.ts
  src/providers/indexer.ts
Due: pnpm eslint --fix, pnpm prettier --write

remove eventsource deps
  dist/cjs/providers/ark.js
  dist/cjs/providers/indexer.js
  dist/esm/providers/ark.js
  dist/esm/providers/indexer.js
  package.json
  pnpm-lock.yaml
  src/providers/ark.ts
  src/providers/indexer.ts
Due: pnpm eslint --fix, pnpm prettier --write

Path conditions:
  pnpm eslint --fix: any of: *.{js,jsx,ts,tsx}
  pnpm prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
